{% load static %}

<!-- Reading Text -->
<div class="mt-4">
	<div class="rounded-xxl shadow-sm border border-2 border-primary-custom overflow-hidden">

    <div class="p-4 pe-3"
        style="max-height: 15.6rem; overflow-y: auto;">
		
		<p class="mb-0 text-start text-dark lh-lg">
My name is Alex, and I work in a small company. I work in the customer support department. <br> My role is to help each customer when they have a problem.
Every day, I handle emails and phone calls. When a customer has a question, I follow a simple process to help them. <br>First, I listen. Then, I find the problem. After that, I give a clear answer.
I have many responsibilities at work. I must answer messages on time and be polite. If I cannot help, I ask my team or a partner company for help.<br>
Our company has one main office and a small branch in another city. We work together to give good service to every customer.
		</p>
        </div>

	</div>
</div>

<div class="card shadow-lg border-0 rounded-xl my-4 bg-light">
	<div class="card-body text-center shadow-sm p-4 d-flex flex-column justify-content-between rounded-xl border border-3 border-primary-custom">
		<!-- Question Number -->
		<div class="text-muted mb-2 d-flex justify-content-between gap-3">
			<span class="px-3 py-2 rounded-xl shadow-sm bg-secondary-custom text-light "> Quiz: Vocabulary: {{ folder_name }} </span>
			<span class="px-3 py-2 rounded-xl shadow-sm bg-primary-custom text-light"> Question {{ quiz_index }} / {{ total_questions }}  </span>
			<span class="px-3 py-2 rounded-xl shadow-sm bg-success text-light "> Score: {{ quiz_score }} </span>
		</div>


		<!-- Question Text -->
		<h3 class="mb-4 mt-2 px-3 py-4 rounded-xxl text-white shadow-sm bg-primary-custom">{{ current_question.question }}</h3>

		<!-- Options Row -->

		<div class="row g-4">
			{% for option in current_question.options %}
			<div class="col-12 col-sm-6 col-lg-3 d-flex"
			hx-post="{% url 'check_answer' %}"
			hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
			hx-vals='{"selected_option": "{{ option }}", "question_id": "{{ current_question.id }}"}'
			hx-target="#quizArea"
			hx-swap="innerHTML transition:true"
			>
				<div class="choice-option is-interactive flex-fill d-flex align-items-center justify-content-center">
					<p>{{ option }}</p>
				</div>
			</div>
			{% endfor %}

			
		</div>
	</div>
</div>
