{% extends 'core/base.html' %}
{% load static %}

{% block title %}Resgister - NTL Business English{% endblock %}

{% block content %}

<div class="container-fluid min-vh-100 d-flex p-0">
  <!-- Left side: image / illustration / brand -->
  <div class=" col-12 col-md-6 d-none min-vh-100 d-md-flex align-items-center justify-content-center text-white login-image-col " >
    <div class="px-4">
      <h1 class="display-4 fw-bold text-stroke">Learn today.<br> Lead tomorrow.</h1>
      
    </div>
  </div>

  <!-- Right side: login form -->
  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
    <div class="p-4 p-md-5 shadow-lg bg-white rounded border border-3 border-secondary-custom" style="width: 100%; max-width: 400px;">
      <h2 class="mb-3 text-center" style="color: var(--primary-blue);">Register</h2>
      <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form %}
                  <div class="mb-3">
                      <label class="form-label">{{ field.label }}</label>
                      {{ field }}
                      {% if field.errors %}
                          <small class="text-danger">{{ field.errors }}</small>
                      {% endif %}
                  </div>
              {% endfor %}
        
        <button type="submit" class="btn btn-primary-custom w-100 py-2">Register</button>
        
      </form>
      <p class="form-text text-muted">Begin your journey with NTL Business English.</p>
    </div>
  </div>
</div>

{% endblock %}
