{% load static %}
<div class="card shadow-lg border-0 rounded-xl my-4 bg-light">
	<div class="card-body text-center shadow-sm p-4 d-flex flex-column justify-content-between rounded-xl border border-3 border-primary-custom">
		<!-- Question Number -->
		<div class="text-muted mb-2 d-flex justify-content-between gap-3">
			<span class="px-3 py-2 rounded-xl shadow-sm bg-secondary-custom text-light "> Quiz:Vocabulary:Folder Name </span>
			<span class="px-3 py-2 rounded-xl shadow-sm bg-primary-custom text-light"> Question 1 / 10 </span>
		</div>

		<!-- Question Text -->
		<h3 class="mb-4 mt-2 px-3 py-4 rounded-xxl text-white shadow-sm bg-primary-custom">What does 'name' mean?</h3>

		<!-- Options Row -->
		<div class="row g-4">
			<div class="col-12 col-sm-6 col-lg-3 d-flex">
				<div class="choice-option flex-fill d-flex align-items-center justify-content-center">
					<p>A person’s title</p>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-lg-3 d-flex">
				<div class="choice-option flex-fill d-flex align-items-center justify-content-center">
					<p>A place to sleep with a longer description</p>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-lg-3 d-flex">
				<div class="choice-option flex-fill d-flex align-items-center justify-content-center">
					<p>A type of food</p>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-lg-3 d-flex">
				<div class="choice-option flex-fill d-flex align-items-center justify-content-center">
					<p>A small animal</p>
				</div>
			</div>
		</div>
	</div>
</div>
