<!-- vocabulary/vocabulary.html -->
{% extends "core/base.html" %} {% load static %} {% block title %} Vocabulary {% endblock title %} {% block content %}
<div class="container my-3">
	<div class="row mb-3">
		<div class="col">
			<h1>Vocabulary for {{ folder.name }}</h1>
		</div>
	</div>

	<div class="row g-3">
		{% for word in words %}
		<div class="col-12 col-sm-6 col-md-4">
			<div class="card shadow-sm rounded-3 bg-light">
				<div class="card-body">
					<strong class="card-title fw-bold">{{ word.word | title }}</strong>

					<p class="small m-0 text-truncate">
						<strong class="text-secondary-custom">Definition:</strong>
						{{ word.definition }}
					</p>

					<p class="small mb-2 text-truncate">
						<strong class="text-secondary-custom">Example Sentence:</strong>
						{{ word.example_sentence }}
					</p>

					<div class="d-flex justify-content-start gap-2">
						
						<button 						
						class="btn btn-secondary-custom btn-sm" 
						data-bs-toggle="modal" 
						data-bs-target="#reviewModal" 
						hx-get="{% url 'vocabulary_detail' folder.id word.id %}"
						hx-target="#reviewModalContent"
						hx-trigger="click"
						hx-swap="innerHTML"
						>Review</button>
					</div>
					
					
				</div>
			</div>
		</div>
		{% empty %}
		<p>No vocabulary in this folder yet.</p>
		{% endfor %}
	</div>
	<!-- END row -->
</div>

{% include 'vocabulary/vocabulary_modal.html' %}
<!-- END container -->
{% endblock content %}
